.post {
    display: flex;
    flex-direction: column;
    width: 385px;
    margin: 10px 25px 40px 25px;

}
.post > img:hover {
    transform: scale(1.1);
}
.postInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 30px;
}
.postCats {
    margin-top: 10px;
   margin-right: 25px;
}
.postCat {
   margin-left: 20px;
   color:#555;
   font-size: 11px;
   line-height: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.postTitle {
   margin-top: 10px;
   font-weight: 700;
    font-size: 24px;
    font-family: 'Lora', serif;

    
}
.postDate {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    color: #999;
}
.postDesc {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    margin-top: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow:ellipsis ;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
    
}
