.login {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(136, 134, 136), white);
    background-size: cover;
    }
    .loginTitle {
        font-size: 50px;
        
    }
    .loginForm {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 20%;
       
    }
    .loginForm > label {
        margin: 0;
    }
    .loginInput {
        border: none;
        padding: 10px;
        background: white;
        border-radius: 2px;
    }
    .submitLogin{
        padding: 10px;
        border-radius: 10px;
        background: teal;
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 20px;
}
.registerButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background: teal;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
}
.btLink {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}